body,ul,li,a,img,input{
    margin:0;
    padding:0;
}
ul,ol,li{
    list-style:none;
}
a:link,a:visited{
    color:#444;
    text-decoration:none;
}
a:hover{
    color:red;
}
body{
    font-size:12px;
    font-family:Arial,宋体;
}
img{
    border:0;
}
.section{
    position: relative;
    width:100%;
    height: 100vh;
    min-height: 700px;
    padding:5vh 0 5vh;
    text-align: center;
}
.content{
    margin: 0 auto;
    width:100%;
    overflow: hidden;
}
#aboutMe{
    background-color: #08aba6;
}
#demand{
    background-color: #109085;
}
#experience{
    background-color: #08aba6;
}
#technology{
    background-color: #109085;
}
#works{
    background-color: #08aba6;
}
#contact{
    background-color: #08aba6;
}
#welcomeTitle{
    position: absolute;
    padding: 30vh 0;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.35s;
}
#welcomeTitle h1{
    font-weight: 400;
    font-size:60px;
    margin:50px 0 30px;
    
}
#nav-bar{
    margin-bottom:0px;
}
#nav-bar.fixed{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 1030;
}
.center{
    text-align: center;
}
.aboutMe{
    max-width: 1200px!important;
}
.list-group{
    margin: 0 auto;
}
.section>h2{
    margin-bottom: 50px;
    color: #fafafa;
}
.info-list>li{
    display: inline-block;
    width: 100px;
    margin:20px 20px 20px 20px;
    height: 140px;
    
}
.info-img{
    width: 90px;
    height: 90px;
    cursor: pointer;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    /* background-color: red; */
}
.info-img>img{
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}
.info-font>p{
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
}
.list-group-item{
    background-color: rgba(255,255,255,.1)!important;
    border: 1px solid rgba(255,255,255,.1)!important;
    color: #ffffff!important;
}