body,ul,li,a,img,input{
    margin:0;
    padding:0;
}
ul,ol,li{
    list-style:none;
}
a:link,a:visited{
    color:#444;
    text-decoration:none;
}
a:hover{
    color:red;
}
body{
    font-size:12px;
    font-family:Arial,宋体;
}
img{
    border:0;
}
.section{
    position: relative;
    width:100%;
    height: 100vh;
    background-color: red;
    min-height: 700px;
    padding-bottom: 20px;
}
.content{
    margin: 0 auto;
    width:100%;
    overflow: hidden;
}
#aboutMe{
    background-color: blueviolet;
}

#welcomeTitle{
    position: absolute;
    padding: 30vh 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.35s;
    background: rgba(256,256,256,0.5);
}
#welcomeTitle h1{
    font-weight: 400;
    font-size:60px;
    margin:50px 0 30px;
}
#nav-bar{
    margin-bottom:0px;
}
.floatleft{
    float: left
}
.floatright{
    float: right
}
#nav-bar.fixed{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 1030;
}