#welcome{
    position: relative;
    background-image:url(../image/welcome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation:welcomeMove 4s infinite;  
}
.info-img:hover{
    background: rgba(255,255,255,0.1);
    -webkit-transform: scale(.93);
    transform: scale(.93);
    color: #fff;
}
.info-img:hover:after{
    animation: ripple 1.3s ease-out 75ms;
}
.info-img::after{
    content: '';
    position: absolute;
    left: 0;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    opacity: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
@keyframes ripple{
    0%{
        opacity:.3
    }
    40%{
        opacity:.5;
        box-shadow:0 0 0 2px rgba(255,255,255,.1),0 0 10px 10px rgba(255,255,255,.15),0 0 0 10px rgba(255,255,255,.17)}
    100%{
        box-shadow:0 0 0 2px rgba(255,255,255,.1),0 0 10px 10px rgba(255,255,255,.15),0 0 0 10px rgba(255,255,255,.17);
        transform:
        scale(1.3);
        opacity:0
    }
}
@keyframes welcomeMove{
    0%{
        opacity: 0.3;
        transform: scale(1);
    }

    50%{
        opacity: 0.5;
        transform: scale(1.05);
    }

    100%{
        opacity: 0.3;
        transform: scale(1);
    }
}
@-webkit-keyframes welcomeMove{
    0%{
        opacity: 0.3;
        -webkit-transform: scale(1);
    }
    50%{
        opacity: 0.5;
        -webkit-transform: scale(1.1);
    }
    100%{
        opacity: 0.3;
        -webkit-transform: scale(1);
    }
}